h1 {
  margin: 0px;
}

h2, h3 {
  margin: 0px;
  font-family: 'Walter Turncoat', cursive;
}

/* styling links */
a {
  font-family: 'Walter Turncoat', cursive;
}

a:link { color: white; }
a:visited { color: black; }
a:hover { color: #ed9136; }
a:active { color: grey; }

nav {
  font-size: 18px;
  font-family: 'Walter Turncoat', cursive;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header {
  margin: 0px;
  height: 525px;
  background-image: url('images/ahansen-heart-light-blue.jpg');
  background-size: contain;
  color: #033947;
  font-family: 'Rock Salt', cursive;
}

main {
  margin: 0px;
  height: 675px;
  background-color: #737f7b;
  color: white;
  font-family: 'Handlee', cursive;
}

footer {
  margin: 0px;
  height: 130px;
  background-color: #6a918d;
  color: white;
  font-family: 'Walter Turncoat', cursive;
}

/* playing with wrappers inside content containers*/
.wrapper {
  width: 525px;
  margin: auto;
}

/* "bullets" for ul links at bottom of page */
#image {
  line-height: 1.5em;
  list-style-image: url('images/hammer.png');
}
